# Multi-Class Prediction of Obesity Risk

## David Heilbron

# Upload kaggle.json

In [1]:
%pwd #check current working directory

'C:\\Users\\Administrator\\Documents\\GitHub\\Projects\\Projects\\Multi-Class Prediction of Obesity Risk'

In [2]:
import zipfile
dir_name = 'C:\\Users\\Administrator\\OneDrive\\Projects\\Multi-Class Prediction of Obesity Risk' # sample dir
with zipfile.ZipFile('C:\\Users\\Administrator\\OneDrive\\Projects\\Multi-Class Prediction of Obesity Risk\\playground-series-s4e2.zip', 'r') as zip_ref:
    zip_ref.extractall('C:\\Users\\Administrator\\OneDrive\\Projects\\Multi-Class Prediction of Obesity Risk')

In [1]:
import pandas as pd
train = pd.read_csv('train.csv')

# Data Exploration

In [2]:
# What type of data frame are we working with? What's it size?
print(type(train), len(train), train.shape)

<class 'pandas.core.frame.DataFrame'> 20758 (20758, 18)

In [3]:
pd.set_option("display.precision", 2)

In [4]:
# How does the first five columns of the dataset look like?
train.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.44,1.70,81.67,yes,yes,2.00,2.98,Sometimes,no,2.76,no,0.00,0.98,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.00,1.56,57.00,yes,yes,2.00,3.00,Frequently,no,2.00,no,1.00,1.00,no,Automobile,Normal_Weight
2,2,Female,18.00,1.71,50.17,yes,yes,1.88,1.41,Sometimes,no,1.91,no,0.87,1.67,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.95,1.71,131.27,yes,yes,3.00,3.00,Sometimes,no,1.67,no,1.47,0.78,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.64,1.91,93.80,yes,yes,2.68,1.97,Sometimes,no,1.98,no,1.97,0.93,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
# How does the last five columns of the dataset look like?
train.tail()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
20753,20753,Male,25.14,1.77,114.19,yes,yes,2.92,3.00,Sometimes,no,2.15,no,1.33,0.20,Sometimes,Public_Transportation,Obesity_Type_II
20754,20754,Male,18.00,1.71,50.00,no,yes,3.00,4.00,Frequently,no,1.00,no,2.00,1.00,Sometimes,Public_Transportation,Insufficient_Weight
20755,20755,Male,20.10,1.82,105.58,yes,yes,2.41,3.00,Sometimes,no,2.00,no,1.16,1.20,no,Public_Transportation,Obesity_Type_II
20756,20756,Male,33.85,1.70,83.52,yes,yes,2.67,1.97,Sometimes,no,2.14,no,0.00,0.97,no,Automobile,Overweight_Level_II
20757,20757,Male,26.68,1.82,118.13,yes,yes,3.00,3.00,Sometimes,no,2.00,no,0.68,0.71,Sometimes,Public_Transportation,Obesity_Type_II

In [5]:
# Descriptive statistics of the numerical fields on the dataset
train.describe()

,id,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,20758.00,20758.00,20758.00,20758.00,20758.00,20758.00,20758.00,2.08e+04,20758.00
mean,10378.50,23.84,1.70,87.89,2.45,2.76,2.03,9.82e-01,0.62
std,5992.46,5.69,0.09,26.38,0.53,0.71,0.61,8.38e-01,0.60
min,0.00,14.00,1.45,39.00,1.00,1.00,1.00,0.00e+00,0.00
25%,5189.25,20.00,1.63,66.00,2.00,3.00,1.79,8.01e-03,0.00
50%,10378.50,22.82,1.70,84.06,2.39,3.00,2.00,1.00e+00,0.57
75%,15567.75,26.00,1.76,111.60,3.00,3.00,2.55,1.59e+00,1.00
max,20757.00,61.00,1.98,165.06,3.00,4.00,3.00,3.00e+00,2.00

In [6]:
# Description of the non-numerical fields on the dataset
train.describe(include=object)

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
count,20758,20758,20758,20758,20758,20758,20758,20758,20758
unique,2,2,2,4,2,2,3,5,7
top,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
freq,10422,17014,18982,17529,20513,20071,15066,16687,4046

In [7]:
# What type of data are the columns? How many non-null datapoints are available?
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

In [21]:
# Is it a balanced dataset in terms of Gender?
train['Gender'].value_counts()

Gender
Female    10422
Male      10336
Name: count, dtype: int64

In [22]:
# Is it a balanced dataset in terms of Family history with overweight?
train['family_history_with_overweight'].value_counts()

family_history_with_overweight
yes    17014
no      3744
Name: count, dtype: int64

In [23]:
# Is it a balanced dataset in terms of type of obesity?
train['NObeyesdad'].value_counts()

NObeyesdad
Obesity_Type_III       4046
Obesity_Type_II        3248
Normal_Weight          3082
Obesity_Type_I         2910
Insufficient_Weight    2523
Overweight_Level_II    2522
Overweight_Level_I     2427
Name: count, dtype: int64

In [26]:
# 
train.loc[train['NObeyesdad']== 'Obesity_Type_III', 'family_history_with_overweight'].value_counts()

family_history_with_overweight
yes    4045
no        1
Name: count, dtype: int64